@tailwind base;
@tailwind components;
@tailwind utilities;



@layer {

  .btn {
    @apply bg-[#42b0d1] hover:bg-[#8cdae4] transition-all duration-200; 
  }

  .element-center{
    @apply flex justify-center items-center;
  }

  .container{
    @apply px-[30px] mx-auto;
  }

}





body{
  font-family: 'Roboto', sans-serif;
  background-color: #181e2a;
}


div{
  color: white;
}